<div class="container mt-3 mb-5">
    <h3>Altas de Usuarios</h3>
    <hr>
    <form class="add">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Datos Personales" [selected]="true">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5>Nombres</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombre" name="nombre" required pInputText [(ngModel)]="contactomodel.nombre">
                                    <label for="float-input">Nombre (s):</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="app" name="app" required pInputText [(ngModel)]="contactomodel.app">
                                    <label for="float-input">Apellido Paterno</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="apm" name="apm" required pInputText [(ngModel)]="contactomodel.apm">
                                    <label for="float-input">Apellido Materno</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="fechaNa" name="fechaNa" required pInputText [(ngModel)]="contactomodel.fechaNa">
                                    <label for="float-input">Fecha de nacimiento</label>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col">

                        <br>
                        <div class="grid">
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calle" name="calle" required pInputText [(ngModel)]="contactomodel.calle">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="colonia" name="colonia" required pInputText [(ngModel)]="contactomodel.colonia">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigoPostal" name="codigoPostal" required pInputText [(ngModel)]="contactomodel.codigoPostal">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="fechaNa" name="fechaNa" required pInputText [(ngModel)]="contactomodel.fechaNa">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estado" name="estado" required pInputText [(ngModel)]="contactomodel.estado">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col">

                        <div class="grid">
                            <br>
                            <br>
                            <h5></h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="municipio" name="municipio" required pInputText [(ngModel)]="contactomodel.municipio">
                                    <label for="float-input">Municipio</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadocivil" name="estadocivil" required pInputText [(ngModel)]="contactomodel.estadocivil">
                                    <label for="float-input">Estado Civil</label>
                                </span>
                            </div>
                            <br>
                            <h5>Contacto</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="correoElectronico" name="correoElectronico" required pInputText [(ngModel)]="contactomodel.correoElectronico">
                                    <label for="float-input">Correo Electronico</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="numeroTelefonico" name="numeroTelefonico" required pInputText [(ngModel)]="contactomodel.numeroTelefonico">
                                    <label for="float-input">Numero Telefonico</label>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </p-accordionTab>
        <p-accordionTab header="Historial Academico">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5 [ngStyle]="{backgroundColor:'var(--blue-500)'}">Primaria.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreInstitucion" name="nombreInstitucion" required pInputText [(ngModel)]="contactomodel.nombreInstitucion">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionInstitucion" name="direccionInstitucion" required pInputText [(ngModel)]="contactomodel.direccionInstitucion">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calleinstitucion" name="calleinstitucion" required pInputText [(ngModel)]="contactomodel.calleinstitucion">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniainstitucion" name="coloniainstitucion" required pInputText [(ngModel)]="contactomodel.coloniainstitucion">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigopostalInstitucion" name="codigopostalInstitucion" required pInputText [(ngModel)]="contactomodel.codigopostalInstitucion">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noInteriorInstitucion" name="noInteriorInstitucion" required pInputText [(ngModel)]="contactomodel.noInteriorInstitucion">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadoinstitucion" name="estadoinstitucion" required pInputText [(ngModel)]="contactomodel.estadoinstitucion">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="MunicipioInstitucion" name="MunicipioInstitucion" required pInputText [(ngModel)]="contactomodel.MunicipioInstitucion">
                                    <label for="float-input">Municipio:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudios" name="aniodeEstudios" required pInputText [(ngModel)]="contactomodel.aniodeEstudios">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           

                            </div>
                    </div>
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5 [ngStyle]="{backgroundColor:'var(--green-500)'}">Secundaria.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreEscSecundaria" name="nombreEscSecundaria" required pInputText [(ngModel)]="contactomodel.nombreEscSecundaria">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionEscSecundaria" name="direccionEscSecundaria" required pInputText [(ngModel)]="contactomodel.direccionEscSecundaria">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calleEscSecundaria" name="calleEscSecundaria" required pInputText [(ngModel)]="contactomodel.calleEscSecundaria">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniaEscSecundaria" name="coloniaEscSecundaria" required pInputText [(ngModel)]="contactomodel.coloniaEscSecundaria">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigopostalEscSecundaria" name="codigopostalEscSecundaria" required pInputText [(ngModel)]="contactomodel.codigopostalEscSecundaria">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noInteriorEscSecundaria" name="noInteriorEscSecundaria" required pInputText [(ngModel)]="contactomodel.noInteriorEscSecundaria">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadoEscSecundaria" name="estadoEscSecundaria" required pInputText [(ngModel)]="contactomodel.estadoEscSecundaria">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                            <br>
                       
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="municipioEscSecundaria" name="municipioEscSecundaria" required pInputText [(ngModel)]="contactomodel.municipioEscSecundaria">
                                    <label for="float-input">Municipio:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudioEscSecundaria" name="aniodeEstudioEscSecundaria" required pInputText [(ngModel)]="contactomodel.aniodeEstudioEscSecundaria">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           
                        </div>

                    </div>
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5 [ngStyle]="{backgroundColor:'var(--yellow-500)'}">Preparatoria.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreInstitucionPreparatoria" name="nombreInstitucionPreparatoria" required pInputText [(ngModel)]="contactomodel.nombreInstitucionPreparatoria">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionInstitucionPreparatoria" name="direccionInstitucionPreparatoria" required pInputText [(ngModel)]="contactomodel.direccionInstitucionPreparatoria">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="callePreparatoria" name="callePreparatoria" required pInputText [(ngModel)]="contactomodel.callePreparatoria">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniaPreparatoria" name="coloniaPreparatoria" required pInputText [(ngModel)]="contactomodel.coloniaPreparatoria">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigopostalPreparatoria" name="codigopostalPreparatoria" required pInputText [(ngModel)]="contactomodel.codigopostalPreparatoria">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noInteriorPreparatoria" name="noInteriorPreparatoria" required pInputText [(ngModel)]="contactomodel.noInteriorPreparatoria">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadoPreparatoria" name="estadoPreparatoria" required pInputText [(ngModel)]="contactomodel.estadoPreparatoria">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                         
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="municipioPreparatoria" name="municipioPreparatoria" required pInputText [(ngModel)]="contactomodel.municipioPreparatoria">
                                    <label for="float-input">Municipio:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudioPreparatoria" name="aniodeEstudioPreparatoria" required pInputText [(ngModel)]="contactomodel.aniodeEstudioPreparatoria">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           
                        </div>

                    </div>
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5 [ngStyle]="{backgroundColor:'var(--cyan-500)'}">Superior.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreInstitucionSuperior" name="nombreInstitucionSuperior" required pInputText [(ngModel)]="contactomodel.nombreInstitucionSuperior">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionInstitucionSuperior" name="direccionInstitucionSuperior" required pInputText [(ngModel)]="contactomodel.direccionInstitucionSuperior">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calleSuperior" name="calleSuperior" required pInputText [(ngModel)]="contactomodel.calleSuperior">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniaSuperior" name="coloniaSuperior" required pInputText [(ngModel)]="contactomodel.coloniaSuperior">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigopostalSuperior" name="codigopostalSuperior" required pInputText [(ngModel)]="contactomodel.codigopostalSuperior">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noInteriorSuperior" name="noInteriorSuperior" required pInputText [(ngModel)]="contactomodel.noInteriorSuperior">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadoSuperior" name="estadoSuperior" required pInputText [(ngModel)]="contactomodel.estadoSuperior">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="municipioSuperior" name="municipioSuperior" required pInputText [(ngModel)]="contactomodel.municipioSuperior">
                                    <label for="float-input">Municipio:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudioSuperior" name="aniodeEstudioSuperior" required pInputText [(ngModel)]="contactomodel.aniodeEstudioSuperior">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           
                        </div>

                    </div>
                    <div class="col">
                        <br>
    
                        <div class="grid" >
                            <h5 [ngStyle]="{backgroundColor:'var(--blue-500)'}">Profesional Maestría.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreInstitucionMaestria" name="nombreInstitucionMaestria" required pInputText [(ngModel)]="contactomodel.nombreInstitucionMaestria">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionInstitucionMaestria" name="direccionInstitucionMaestria" required pInputText [(ngModel)]="contactomodel.direccionInstitucionMaestria">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calleMaestria" name="calleMaestria" required pInputText [(ngModel)]="contactomodel.calleMaestria">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniaMaestria" name="coloniaMaestria" required pInputText [(ngModel)]="contactomodel.coloniaMaestria">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="codigopostalMaestria" name="codigopostalMaestria" required pInputText [(ngModel)]="contactomodel.codigopostalMaestria">
                                    <label for="float-input">Codigo Postal</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noInteriorMaestria" name="noInteriorMaestria" required pInputText [(ngModel)]="contactomodel.noInteriorMaestria">
                                    <label for="float-input">No. Interior/Exterior</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="estadoMaestria" name="estadoMaestria" required pInputText [(ngModel)]="contactomodel.estadoMaestria">
                                    <label for="float-input">Estado</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="municipioMaestria" name="municipioMaestria" required pInputText [(ngModel)]="contactomodel.municipioMaestria">
                                    <label for="float-input">Municipio:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudioMaestria" name="aniodeEstudioMaestria" required pInputText [(ngModel)]="contactomodel.aniodeEstudioMaestria">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           
                        </div>

                    </div>
                    <div class="col">
                        <br>
                        <div class="grid">
                            <h5 [ngStyle]="{backgroundColor:'var(--orange-500)'}">Doctorado.</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="nombreInstitucionDoctorado" name="nombreInstitucionDoctorado" required pInputText [(ngModel)]="contactomodel.nombreInstitucionDoctorado">
                                    <label for="float-input">Nombre de la institución:</label>
                                </span>
                            </div>
                            <br>
                            <h5>Direccion</h5>
                            <hr>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="direccionInstitucionDoctorado" name="direccionInstitucionDoctorado" required pInputText [(ngModel)]="contactomodel.direccionInstitucionDoctorado">
                                    <label for="float-input">Dirección de la institución:</label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="calleDoctorado" name="calleDoctorado" required pInputText [(ngModel)]="contactomodel.calleDoctorado">
                                    <label for="float-input">Calle</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="coloniaDoctorado" name="coloniaDoctorado" required pInputText [(ngModel)]="contactomodel.coloniaDoctorado">
                                    <label for="float-input">Colonia</label>
                                </span>
                            </div>
                        
                           
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [locale]="es" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
                                    <label for="float-input">Anio de ingreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="date3" [locale]="es" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
                                    <label for="float-input">Anio de egreso:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aniodeEstudioDoctorado" name="aniodeEstudioDoctorado" required pInputText [(ngModel)]="contactomodel.aniodeEstudioDoctorado">
                                    <label for="float-input">Anios de estudio </label>
                                </span>
                            </div>

                            <br>
                            <div class="field">
                                <label for="float-input">Recibió Certificado:</label>

                                <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                            </div>
                           
                        </div>

                    </div>
                </div>

            </div>
        </p-accordionTab>
        <p-accordionTab header="Estado General de Salud">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="grid">
                            <br>
                            <!-- <div *ngFor="let category of categories" class="p-field-checkbox">
                                <p-checkbox name="group2" value="category" [value]="category"
                                    [(ngModel)]="selectedCategories" [inputId]="category.key"
                                    [disabled]="category.key === 'R'"></p-checkbox>
                                <label [for]="category.key">{{category.name}}</label>
                            </div> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid">
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <textarea id="float-input" type="text" [rows]="5" [cols]="30"
                                        pInputTextarea></textarea>
                                    <label for="float-input">Especifique el padecimiento</label>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </p-accordionTab>
        <p-accordionTab header="Informacion Adicional">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="grid">


                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="puestoTrabajo" name="puestoTrabajo" required pInputText [(ngModel)]="contactomodel.puestoTrabajo">
                                    <label for="float-input">Puesto:</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="numeroEmpleado" name="numeroEmpleado" required pInputText [(ngModel)]="contactomodel.numeroEmpleado">
                                    <label for="float-input">Numero de Empleado</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="noAnioenelpuesto" name="noAnioenelpuesto" required pInputText [(ngModel)]="contactomodel.noAnioenelpuesto">
                                    <label for="float-input">No. Anios en el puesto</label>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col">

                        <br>
                        <div class="grid">


                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="puestosAnteriores" name="puestosAnteriores" required pInputText [(ngModel)]="contactomodel.puestosAnteriores">
                                    <label for="float-input">Puestos Anteriores</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="departamentooArea" name="departamentooArea" required pInputText [(ngModel)]="contactomodel.departamentooArea">
                                    <label for="float-input">Despartamento/àrea</label>
                                </span>
                            </div>
                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" id="aptitudesCH" name="aptitudesCH" required pInputText [(ngModel)]="contactomodel.aptitudesCH">
                                    <label for="float-input">Aptitudes C.H:</label>
                                </span>
                            </div>



                        </div>
                    </div>
                    <div class="col">
                        <br>
                        <div class="grid">


                            <br>
                            <div class="field">
                                <span class="p-float-label">
                                    <textarea id="float-input" type="text" [rows]="5" [cols]="30"pInputTextarea></textarea>
                                    <label for="float-input">Historial</label>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </p-accordionTab>
    </p-accordion>
    <br>
    <div class="container text-center">
        <div class="row">
          <div class="col">

            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
          </div>
          <div class="col">
           
          </div>
          <div class="col">
            
            
            <button pButton pRipple type="button" icon="pi pi-user"   label="Registrar alta" class="p-button-rounded p-button-success"   (click)="add()"></button>
          
          </div>
        </div>
      </div>

    </form>
  