<div class="container mt-3 mb-5">
    <h3>Bajas de Usuarios</h3>
    <!-- <div class="row g-3">
        <div class="col-sm">
            <label for="categoria" class="form-label">Convocatoria</label>
            <p-dropdown [options]="convocatorias" placeholder="Selecciona una Convocatoria" optionLabel="titulo" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div> -->
    <hr>
    <div class="container">
        <p-toolbar>
            <ng-template pTemplate="left">
                <h3 class="text-dark">Busqueda de Usuarios</h3>
            </ng-template>
            <ng-template pTemplate="right">
                <!-- <div class="row g-3">
        <div class="col-sm">
            <label for="categoria" class="form-label">Convocatoria</label>
            <p-dropdown [options]="convocatorias" placeholder="Selecciona una Convocatoria" optionLabel="titulo" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div> 
    <!   button pButton pRipple class="p-button-info mr-2" (click)="Excel()" label="Exportar Excel" icon="pi pi-upload"> </button>
                <button pButton pRipple label="Nueva Alta" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </ng-template>
        </p-toolbar> -->

                <div class="card">
                    <p-table responsiveLayout="scroll" [value]="contactosCollectiondata " [rows]="10"
                        [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="titulo">
                                    Nombre
                                    <p-sortIcon field="titulo"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaInicio">
                                    Direccion
                                    <p-sortIcon field="fechaInicio"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaFin">
                                    Contacto
                                    <p-sortIcon field="fechaFin"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaFin">
                                    Historial Academico
                                    <p-sortIcon field="fechaFin"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaFin">
                                    Historial General de salud
                                    <p-sortIcon field="fechaFin"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaFin">
                                    Informacion Adicional
                                    <p-sortIcon field="fechaFin"></p-sortIcon>
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contactomodel>
                            <tr>
                                <td>
                                    <p>{{contactomodel.nombre}}</p>
                                </td>

                                <td>
                                    <p>{{contactomodel.app}</p>
                                </td>
                                <td>
                                    <p>{{contactomodel.apm}}</p>
                                </td>


                                <td>
                                    <!--button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(convocatoria)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(convocatoria)" (click)="edit"></button>-->
                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                Total de Usuarios {{contactosCollectiondata  ?contactosCollectiondata .length : 0
                                }}.
                            </div>
                        </ng-template>
                    </p-table>
                </div>


                <!-- Nueva Convocatoria -->
                <p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Detalles del mensaje" [modal]="true"
                    styleClass="p-fluid">
                    <ng-template pTemplate="content">

                        <form [formGroup]="convocatoriaForm">

                            <div class="field">
                                <label for="titulo">nombre:</label>
                                <input type="text" pInputText name="nombre" class="" [(ngModel)]="altasUsuariosModel.nombre"
                                    formControlName="titulo"
                                    [ngClass]="submitted && convocatoriaForm.controls['titulo'].errors ? 'is-invalid' : !submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : null">
                                <small class="p-error" *ngIf="submitted && !altasUsuariosModel.nombre">nombre is
                                    required.</small>

                            </div>
                            <div class="field">
                                <label for="apm">app:</label>
                                <input type="date" name="fechaInicio" class="" pInputText
                                    [(ngModel)]="altasUsuariosModel.app" formControlName="fechaInicio" required />
                                <small class="p-error" *ngIf="submitted && !altasUsuariosModel.app">nombre is
                                    required.</small>

                            </div>
                            <div class="field">
                                <label for="fechaFin">apm:</label>
                                <input type="date" name="fechaFin" class="" pInputText [(ngModel)]="altasUsuariosModel.apm"
                                    formControlName="fechaFin" required />
                                <small class="p-error" *ngIf="submitted && !altasUsuariosModel.apm">nombre is
                                    required.</small>
                            </div>


                        </form>



                    </ng-template>